.menu-name {
  margin-bottom: -3rem !important;
  margin-top: 0.5rem !important;
}

.github-item {
  padding: 0.5rem !important;
}
.right {
  float: right;
}

.hl {
  background-color: rgb(255, 208, 119);
}
.github-list {
  margin-top: -1.3rem !important;
}

.square {
  display: inline-block;
}

.small {
  height: 20px;
  width: 20px;
}

.large { 
  height: 40px;
  width: 40px;
}

.small-row {
  height: 20px;
}

.large-row {
  height: 40px;
}

.black {
  background-color: black;
}

.clear {
  background-color: none;
}

.shape-grid {
  border: 1px solid black;
  width: fit-content;
}

.shape-1 {
  background-color: rgb(109, 231, 247);
}
.shape-2 {
  background-color: rgb(159, 243, 159);
}
.shape-3 {
  background-color: green;
}
.shape-4 {
  background-color: rgb(253, 133, 253);
}
.shape-5 {
  background-color: rgb(243, 252, 124);
}
.shape-6 {
  background-color: rgb(80, 224, 205);
}
.shape-7 {
  background-color: rgb(241, 195, 125);
}
.shape-8 {
  background-color: rgb(155, 61, 243);
}
.shape-9 {
  background-color: rgb(200, 245, 224);
}
.shape-10 {
  background-color: rgb(252, 124, 124);
}

.frame-message {
  width: 202px;
  text-align: center;
}

.square-hover:hover {
  background-color: black;
}