.menu-name {
  margin-bottom: -3rem !important;
  margin-top: 0.5rem !important;
}

.github-item {
  padding: 0.5rem !important;
}
.right {
  float: right;
}

.hl {
  background-color: rgb(255, 208, 119);
}
.github-list {
  margin-top: -1.3rem !important;
}

.square {
  display: inline-block;
  height: 20px;
  width: 20px;
}

.shape-row {
  height: 20px;
}

.red {
  background-color: red;
}

.clear {
  background-color: none;
}

.shape-grid {
  border: 1px solid black;
  width: fit-content;
}
